body{background-color: #eee;}
.layui-form-pane .layui-input-block{ padding-left: 20px; margin-left: 120px;}
.layui-form-pane .layui-form-label{  padding-left: 10px; padding-right: 5px; width: 120px;}
.rotate,.detail,.param{border: 1px solid #eee; padding: 10px; box-sizing: border-box;}
.product-banner{ width: 75px; height: 71px;}
.detail-pic-btn,.param-pic-btn{height: 60px; width: auto;}
.layui-form-item .layui-input-inline{ width: 50%;}
.layui-form-item .width30{ width: 30%;}

.product_detail{ width: 350px; margin-left: 30px; padding-top:20px;}
.edit-item{ position: relative;}
.design-item{
    position: absolute;
    left: 100%;
    top: 0;
    padding: 15px;
    min-height: 28px;
    background: #f8f8f8;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    width: 420px;
    margin-left: 20px;
    font-size: 12px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 5;
    display: none;
}
.design-item:after,.design-item:before {  right: 100%;  top: 20px;  border: solid transparent;  content: " ";
    height: 0;  width: 0;  position: absolute;  pointer-events: none;  }
.design-item:before {  border-color: transparent;  border-right-color: #e5e5e5;  border-width: 7px;  margin-top: -7px;  }
.design-item:after {  border-color: transparent;  border-right-color: #f8f8f8;  border-width: 6px;  margin-top: -6px;}
.design-item h2{ font-size: 16px;}

.banner{ width: 348px; height: 328px;border: 1px dashed #e5e5e5; cursor: pointer;}
.banner img{width: 348px; height: 328px;}

.design-item ul li{  position: relative;  background-color: #fff;  margin-top: 15px;  padding: 15px;border: 1px dashed #e5e5e5;cursor: move;}
.design-add-btn{  position: relative;  background-color: #fff;  margin-top: 15px;  padding: 15px;  border: 1px dashed #e5e5e5;cursor: pointer;}
.design-add-btn .desing-add-img-text i{color: #38f; display: block; text-align: center; font-size: 14px;}
.design-add-btn .desing-add-img-tip{ text-align: center; padding: 5px; color: #999;}
.banner-design ul li img{ width: 100%;}

.design-item-delete{  position: absolute;  cursor: pointer;   right: -8px;  top: -8px;
    color: #fff;  background: #59f;  border-radius: 50%;  }
.banner-design-edit-content{ float: left;  width: 240px;  margin-left: 10px;}
.banner-list .thumbBox{ width:100px;height: 96px;}
.icon-btn{ position: absolute; color: #fff; background-color: #59f; border-radius: 50%;}
.item-delete-btn{top:-8px; right: -8px; cursor:pointer;}

.qita{width: 348px; height: 80px;border: 1px dashed #e5e5e5; padding-top: 20px; margin-top: 10px;}
.qita{ text-align: center;}
.qita .p1{ font-size: 20px; color: #c0c0c0;}
.qita .p2{ font-size: 16px; margin-top: 5px; color: #C9C9C9}

.prduct_cont{width: 348px; border: 1px dashed #e5e5e5; margin-top: 10px;}
.prduct_cont .layui-tab-title{ padding: 0 60px;}
.prduct_cont .layui-tab-content{ padding: 2px 0 0;}
.prduct_cont .design-show img{ width: 100%;}
.prduct_cont .design-item img{ width: 100%;}
.product_pic_show{ min-height: 200px;}
.product_property_show{ min-height: 200px;}
.change_pic{cursor: pointer;}

.sale_status .layui-input-block{ margin-left: 30px;}
.white{ padding:10px 20px;}
.shipping{ display: none;}
.sale_time{ display: none;}