.page-goods-classify .ui-table-body-item .ui-table-list:first-of-type{padding-left:43px;}
.page-goods-classify .ui-table-body-item .ui-table-list:nth-of-type(2){ -webkit-box-pack: start;  text-align: left;padding-left: 40px;}
