.list-div{ background-color: #fff;}
.thumbBox{ width: 150px; height: 40px;}
.add-div{background-color: #fff; padding: 20px;}
.layui-elem-field{ padding-top: 20px;}
.layui-tab-content{ margin-top: 20px;}
.layui-table-body .layui-table-cell{ height: 42px; line-height: 42px;}