body{background-color: #eee;}
.layui-elem-quote{ margin-top: 10px;}
.layui-table td, .layui-table th{ line-height: 40px;}
.arae-div{ padding: 15px;}
.sub-div .layui-form-item{ margin-bottom: 0;}
.layui-input, .layui-textarea{ padding-right: 10px;}
.freight span{ margin-left: 5px;}