<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>后台管理系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="__ADMIN__/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="__ADMIN__/css/public.css" media="all" />
    <link rel="stylesheet" href="__ADMIN__/client/shop/order/detail.css" media="all" />
</head>
<body class="childrenBody">

<fieldset class="layui-elem-field layui-field-title">
    <legend>订单信息</legend>
</fieldset>
<table class="layui-table" id="order_info">
    <colgroup>
        <col width="200">
        <col>
    </colgroup>
    <tbody>
        <tr>
            <td>订单编号</td>
            <td>{$data.order_no}</td>
        </tr>
        <tr>
            <td>用户信息</td>
            <td>
                {if condition = "!empty($data.user.nickname) && !empty($data.user.head_img)"}
                <img src="{$data.user.head_img}" width="50" height="50" style="float:left;">
                <p style="line-height: 50px; float:left; margin-left:10px;">{$data.user.nickname}</p>
                {else /}
                {$data.user.nickname}(用户id)
                {/if}
            </td>
        </tr>
        <tr>
            <td>商品总价</td>
            <td>{$data.product_price}</td>
        </tr>
        <tr>
            <td>运费金额</td>
            <td>{$data.shipping_price}</td>
        </tr>
        <tr>
            <td>实付金额</td>
            <td>{$data.order_price}</td>
        </tr>
        <tr>
            <td>订单状态</td>
            <td>{$data.status_china}</td>
        </tr>
        {if condition="$data.invoice_title!=''"}
        <tr>
            <td>发票抬头</td>
            <td>{$data.invoice_title}</td>
        </tr>
        {/if}
        {if condition="$data.taxpayer!=''"}
        <tr>
            <td>纳税人识别号</td>
            <td>{$data.taxpayer}</td>
        </tr>
        {/if}
        {if condition="$data.remark!=''"}
        <tr>
            <td>用户备注</td>
            <td>{$data.remark}</td>
        </tr>
        {/if}
        <tr>
            <td>下单时间</td>
            <td>{$data.create_time}</td>
        </tr>
    </tbody>
</table>
<fieldset class="layui-elem-field layui-field-title">
    <legend>收货人信息</legend>
</fieldset>
<table  class="layui-table">

    <tr>
        <td width="160">姓名</td>
        <td>{$data.snap_address->name}</td>
    </tr>
    <tr>
        <td width="160">电话</td>
        <td>{$data.snap_address->mobile}</td>
    </tr>
    <tr>
        <td width="160">地址</td>
        <td>{$data.snap_address->province} {$data.snap_address->city}
            {$data.snap_address->country} {$data.snap_address->detail}</td>
    </tr>
</table>
<fieldset class="layui-elem-field layui-field-title">
    <legend>商品信息</legend>
</fieldset>
<table   class="layui-table">
    <tr>
        <td width="10%">商品编号</td>
        <td width="30%">商品名称</td>
        <td width="15%">商品单价</td>
        <td width="15%">商品数量</td>
        <td width="15%">商品总价</td>
        <td width="15%">状态</td>
    </tr>
    {volist name="data.snap_items" id="item"}
    <tr>
        <td width="10%">{$item.product.product_sn}</td>
        <td width="30%">{$item.name}</td>
        <td width="15%">{$item.price}</td>
        <td width="15%">{$item.count}</td>
        <td width="15%">{$item.total_price}</td>
        <td width="15%">{$item.is_return}</td>
    </tr>
    {/volist}
</table>

{if condition='$data.status == 1'}
<fieldset class="layui-elem-field layui-field-title">
    <legend>物流信息</legend>
</fieldset>
<form class="layui-form" action="">
    <table class="layui-table">
        <colgroup>
            <col width="200">
            <col>
        </colgroup>
        <tbody>
            <tr>
                <td>快递公司</td>
                <td>
                    <input type="hidden" name="order_id" value="{$data.id}">
                    <div class="layui-input-inline" style="width: 300px">
                        <select name="company">
                            {volist name='data.express' id='item'}
                            <option value="{$item.id}">{$item.title}</option>
                            {/volist}
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>快递单号</td>
                <td>
                    <div class="layui-input-inline" style="width: 300px">
                    <input type="text" class="layui-input" name="odd_number" required placeholder="请输入快递单号" autocomplete="off" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>操作</td>
                <td>
                    <button class="layui-btn layui-btn-sm delivery" type="button" lay-filter="submit"> 确认发货</button>
                </td>
            </tr>
        </tbody>
    </table>
</form>
{/if}

{if condition='$data.status == 2'}
<form class="layui-form" action="">
<fieldset class="layui-elem-field layui-field-title">
    <legend>物流信息</legend>
</fieldset>

<table class="layui-table">
    <colgroup>
        <col width="200">
        <col>
    </colgroup>
    <tbody>
        <tr>
            <td>快递公司</td>
            <td>
                <input type="hidden" name="order_id" value="{$data.id}">
                <div class="layui-input-inline" style="width: 300px">
                <select name="company">
                    {volist name='data.express' id='item'}
                    {if condition="$data.express_id == $item.id"}
                    <option value="{$item.id}" selected>{$item.title}</option>
                    {else /}
                    <option value="{$item.id}">{$item.title}</option>
                    {/if}
                    {/volist}
                </select>
                </div>
            </td>
        </tr>
        <tr>
            <td>快递单号</td>
            <td>
                <div class="layui-input-inline" style="width: 300px">
                    <input type="text" class="layui-input" name="odd_number" required value="{$data.odd_number}"/>
                </div>
            </td>
        </tr>
        <tr>
            <td>操作</td>
            <td>
                <button  class="layui-btn layui-btn-sm delivery" type="button" lay-filter="submit"> 确认修改</button>
            </td>
        </tr>
    </tbody>
</table>
</form>
{/if}

{if condition='$data.status == 3'}
<fieldset class="layui-elem-field layui-field-title">
    <legend>物流信息</legend>
</fieldset>
<table   class="layui-table">
    <colgroup>
        <col width="200">
        <col>
    </colgroup>
    <tbody>
        <tr>
            <td>快递公司</td>
            <td>{$data.express_title}</td>

        </tr>
        <tr>
            <td>快递单号</td>
            <td>{$data.odd_number}</td>
        </tr>
        <!--<tr>
            <td>操作</td>
            <td>
                <a  class="layui-btn layui-btn-sm" target="_blank"> 查看物流信息</a>
            </td>
        </tr>-->
    </tbody>
</table>
{/if}
<script type="text/javascript" src="__ADMIN__/layui/layui.js"></script>
<script type="text/javascript" src="__ADMIN__/client/shop/order/detail.js"></script>
</body>
</html>